body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}

* , *:before, *:after{
    box-sizing: border-box
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
 }

/*============CONTAINER===========*/

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    
}



/*============HEADER===========*/

.header{
    position: absolute;
    height: 100px;
    top:0;
    left: 0;
    z-index: 1000;
    width: 100%
}

.header__inner{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4e5167;
    padding: 35px 0; 
    align-items: center;
}


/*============NAVIGATION===========*/

.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700px;
    text-transform: uppercase;
    
}

.nav__link{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .1s linear;
}

.nav__link:first-child{
    margin-left: 0;    
}

.nav__link:hover{
    opacity: 1;

}


/*============INTRO===========*/

.intro {
    height: 750px;
    background: #2b2e48 url('../images/bc_header.jpg') center no-repeat;
    background-size: cover;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.intro__inner{
    max-width: 970px;
    margin: 0 auto;
    width: 100%;
}
.intro__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px;

}

.intro__subtitle{
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
     margin-bottom: 60px;
   
    
}

/*============BUTTON===========*/


.btn{
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;    
    text-decoration: none;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    transition: background .1s linear;
}



.btn--red{
    background-color: #e84545;
   
    
    
}
.btn--red:hover{
    background-color: #ea0c0c;
    
    
}






















